#!/usr/bin/env bash
xmodmap ~/.Xmodmap #(note: this is for my custom key assignments)
xrdb -merge ~/.Xresources #(to load ~/.Xresources if you use it)
dbus-update-activation-environment DISPLAY XAUTHORITY
xrandr --output {{ primary }} --primary
xrandr --output {{ secondary }} --auto --right-of {{ primary }}
exec i3 
